form input{
  display: block;
  width: 100%;
  border-radius: 12px;
  padding: 5px 10px;
  border-color: #d7d4d4;
  background-color: transparent;
}
label{

  color: #ea203e;
    margin-bottom: 10px;
    margin-top: 15px;

}

  input{  
    border-radius: 8px;
    padding-block: 16px;
    border-color: #e7e7e7;
       }
.col-lg-4{
  margin-right: 150px;
}
.btn{
  background: linear-gradient(-45deg, #f44336, #eb6d64, #d66159, #f44336);
  padding: 10px 50px;
  margin-top: 50px;
  color: #fff;
}
.btn:hover{
  color: white;
}
.breadcrumbNav{
  background: rgb(0 0 0 / 10%) !important;
   padding: 9px 40px;
   margin-bottom: 100px;
}
.breadcrumb{
  --bs-breadcrumb-margin-bottom:0!important;
  padding:0!important;
}
.first-a{
color: gray;
   text-decoration: none;}
   .first-a:hover{
    color: #d73e49;
   }
   form{
    width: 50%;
    margin: auto;
   }
   .col-md-9{
    border-right: 1px solid #cdcbcb;
   }
  .row ul{
    margin-top: 110px;
   }
   .fas{
    color:   #d73e49;
   }
 