body{
    overflow-x: hidden;
}
video { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: 120% !important;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-57%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 40%;
  margin:100px auto;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: linear-gradient(to right, #f44336 0%, #f4433687 100%);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
  background: linear-gradient(to right, #f44336 0%, #f4433687 100%);
}
.red-concept{
    color:#d73e49;
}
#polina a {
  background: linear-gradient(to right, #e30f00 0%, #d96c64f7 100%);
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: .5rem;
  transition: .6s background;
  border: unset;
}
a:hover{
  color:#d73e49;
}
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

.red-concept{
    color: #d73e49;
}
 .btn{
    position: relative;
    left: 28%;
    margin-top: 30px;
    font-size: 30px;
    margin-right: 40px;
    transition: 0.5s all ease-in-out;
    padding: 12px 20px;
    background: linear-gradient(to right, #e30f00 0%, #ea8b84f7 100%);
    color:rgb(214, 213, 213);
    border:4px solid #d73e49;
    border: unset;
}


/*Features Section*/
a,p,h1,h2,h3,h4,ul {
	margin: 0;
	padding: 0;
}
.why-us{
    margin-top: 300px;
}
 .header-section {
	margin-bottom: 35px;
}

 .title {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 25px;
	text-transform: uppercase;
	font-weight: 700;
}

 .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	height: 1px;
	background-color: #d73e49;;
}

 .title:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
	width: 45px;
	height: 3px;
	background-color: #d73e49;;
}

 .title span {
	color: #d73e49;;
}

.header-section .description {
	color: #6f6f71;
}

.single-feature i {
	margin-bottom: 25px;
	font-size: 50px;
	color: #d73e49;
    padding: 20px;
}

 .single-feature h3 {
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.8em;
}
.col-md-6, 
.col-lg-6{
    margin-bottom: 40px;
}
.services {
  margin-top: 100px;
}
.services .container{
  padding:  0 20px !important;
}
.services h2{
  margin-bottom: 80px;
}
.services h6{
  margin-top: 20px;
}
.services p{
  margin-top: 50px;
  font-size: 20px;
}
.services a{
  text-decoration: none;
  color: #46494d;
  font-size: 18px;
}
.services .btn{
  left:0%}
.services-points{
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 30px;
}
.fa-angles-right{
  color: #d73e49;
}
.images-box{
  margin-top: 50px;
}
.img-fluid{
  height: 400px !important;
}
/*Start Join Us Section*/

.join-us{
  background-image: url('/images/join-us.png');
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
}
.join-us .col-lg-6{
  margin-left: 55px;
}
.join-us h1{
  margin-top: 40px;
  color: white;
  font-weight: 700 ;
}
.join-us p{
  color: white;
  font-size: 20px;
  margin-top: 20px;
}
.join-us a{
  margin-top: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    transition: all 0.5s ease-in-out;
    font-weight: 600;
    text-decoration: none;
}
.join-us a:hover{
  background-color: white;
  color: #ec2222;
  border-color:#ec2222;
}
.our-projects{
  margin-bottom: 100px;
}
.navbar {
  background: rgb(0 0 0 / 44%) !important;
}
.navbar a{
  color:#fff !important
}
.borderXwidth a:before, div.borderXwidth a:after{
  background-color: #fff !important;
}

.service-12 .card.card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.service-12 .img-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
}

.service-12 .wrap-service12 .img-hover {
-webkit-transition: 0.2s ease-in;
 -o-transition: 0.2s ease-in;
 transition: 0.2s ease-in;
}

.service-12 .wrap-service12 .img-hover:hover {
-webkit-transform: scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);
}

.service-12 .wrap-service12 .uneven-box {
  margin-top: 100px;
}

.service-12 .btn-info-gradiant {
  background: linear-gradient(to right, #f44336 0%, #f4433687 100%);
}

.service-12 .btn-info-gradiant:hover {
  background: #316ce8;
  background: linear-gradient(to right, #f44336 0%, #f4433687 100%);
}

.service-12 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .service-12 .wrap-service-12 .uneven-box {
    margin-top: 0px;
}
}

@media (max-width:1024px){
  #polina{
    width: 60%;
  }
  .why-us{
    margin-top: 0;
  }
  .join-us h1{
    margin-top: 30px;
    font-size: 20px;
  }
  .join-us p{
    font-size: 15px;
  }
  .join-us a{
    padding: 0px 20px;
  }
}
@media (max-width:992px){
  .container-fluied{
    width: 100%;
    margin-right: 0;
  }
  video{
    display: none;
  }
.why-us{
  margin-top: 0;
  width: 100%;
}
.why-us .row{
    margin-right: 0;
    margin-left: 0;
}
.img-fluid{
  height: auto !important;
}
.hero{
  width: 100%;
}
#polina{
  width: 100% !important;
  margin-top: 0;
}
.hero #polina a{
  left: 35%;
}
.services .row{
  text-align: center;
}
.service-12 .wrap-service12 .uneven-box{
  margin-top: 0;
}
.join-us{
  background-image:unset
}
.join-us .col-lg-6{
  margin-left: 0;
}
.join-us h1{
  font-size: 3rem;
}
.join-us p{
  font-size: 20px;
}
.join-us a{
  padding: 10px 20px;
}
.join-us h1,
.join-us p{
  color: black;
}
.join-us a{
  background: linear-gradient(to right, #f44336 0%, #f4433687 100%);
}
.carousel-item img{
  height: 400px;
}
}
@media screen and (max-width: 500px){
div {
    width: 100%;
}}