@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
  
  body{
  

    background-color:rgb(255, 255, 255);
    background: linear-gradient(-45deg, #f44336, #ecaeaa, #d66159, #f44336);
    
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
     
  
  }
  body button{
    background: linear-gradient(-45deg, #f44336, #eb6d64, #d66159, #f44336);
    border: unset !important;
  }
  main{
 
    margin-bottom: 60px;
  }
  .navbar-laravel
  {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
     
  }
  .navbar-brand , .nav-link, .my-form, .login-form
  {
      font-family: Raleway, sans-serif;
  }
     
   .form-control{
    margin-bottom: 40px;
   }   
      
 
  .my-form
  {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      
     
      
    
  }
  .my-form .row
  {
      margin-left: 0;
      margin-right: 0;
  }

  .navbar a{
    color:#fff !important
  }
  .borderXwidth a:before, div.borderXwidth a:after{
    background-color: #fff !important;
  }
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

  .login-form .row
  {
      margin-left: 0;
      margin-right: 0;
      opacity: .9;
      
      
  }
  .footer-copyright{
    background-color: transparent !important;
  }
  .have-account{
    margin-top: 20px;
  }
  .have-account a{
    font-size: 17px;
    text-decoration: none;
    color: #ec2f2f;
  }
  .card{
    width: 70%;
    margin: auto;
  }