form input{
    margin-right: 15px;
    border-radius: 12px;
    padding: 5px 10px;
    border-color: #e8e8e8;
    background-color: transparent;
  }
  label{
  
    color: #524f4f;
      margin-bottom: 15px;
  }
  
    input{  
      border-radius: 8px;
      padding-block: 16px;
      border-color: #e7e7e7;
      color:white
         }
         #total{
          border: 2px solid white;
          margin-left: 11px;
          background-color: transparent;
         }
  .col-lg-4{
    margin-right: 150px;
  }
  .breadcrumbNav{
    background: rgb(0 0 0 / 10%) !important;
     padding: 9px 40px;
     /* margin-bottom: 100px; */
  }
  .breadcrumb{
    --bs-breadcrumb-margin-bottom:0!important;
    padding:0!important;
  }
  .first-a{
  color: gray;
     text-decoration: none;}
     .first-a:hover{
      color: #d73e49;
     }
     
    .navbar .hidden-nav{
      display: none !important;
     }
     #polina{ 
      font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
      font-weight:100; 
      box-shadow: 1px 5px 30px #f37c73;
      color: white;
      padding: 2rem;
      width: 53%;
      margin:100px auto 0;
      font-size: 1.2rem;
    }
   .container-fluied{
/* background-image: url('/images/reserve.png'); */
margin: 100px;    
}
    .container-fluied .container{
margin-top: 0 !important;
    }
    @media (max-width:992px){
      #polina{ 

        width: 100%
    }}